<%=render "menu"%>



<h4>Teachers With No Courses:</h4>

<ul>
    <%Teacher.no_courses.each do |teach|%>
        <li>
            <%=link_to teach.full_name, "/teachers/#{teach.id}"%>
        </li>
    <%end%>
</ul>

</p>
<br>
<br>