<p>
Courses: 
<a href= "/courses">List All</a> |
<a href="/courses/new">New</a><br>

Students: 
<a href = "/students">List All</a>  |   
<a href = "/students/new">New</a><br>

Teachers: 
<a href="/teachers">List All</a> |
<a href="/teachers/new">New</a><br>

Assignments:
<a hred="/assignments/new">New</a><br>
<br>
<br>
</p>