<h1> Welcome To The School App</h1>
<br>
<br>
<p>
Courses: 
<a href= "/courses">List All</a> |
<a href="/courses/new">New</a> |
<a href="/course/services">Services</a><br>

Students: 
<a href = "/students">List All</a>  |   
<a href = "/students/new">New</a> |
<a href="/student/services">Services</a><br>

Teachers: 
<a href="/teachers">List All</a> |
<a href="/teachers/new">New</a> |
<a href="/teacher/services">Services</a><br>

Assignments:
<a href="/assignments/new">New</a><br>
<br>
<br>
</p>